@import "tailwindcss";

@theme {
  --color-brand-blue: #203468;
  --color-brand-green: #7CB84C;
  --color-brand-light: #EBF3E5;
  --color-background: #F4F7FB;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}
